@import "bourbon"

// common color
$ba: #222
$bb: #3b3b3b
$ca: #535353
$cc: #6c6c6c

$da: #848484
$dd: #9d9d9d

$ea: #b5b5b5
$ee: #cecece
$fa: #e6e6e6
$ff: #fff

$ac: #f90

// Main Transition +mt(.15s)
=mt($time)
	transition: all $time ease
=br5
	border-radius: 5px
=br10
	border-radius: 10px
=bsh
	box-shadow: 0 3px 3px #111

=darken_bg($color)
	background: darken($color, 6%)

=darken_bdc($color)
	border-color: darken($color, 6%)

=lighten_bg($color)
	background: lighten($color, 6%)

=lighten_bdc($color)
	border-color: lighten($color, 6%)