@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/hover/hover"
@import "app/libs/superfish/dist/css/superfish"
@import "app/libs/superfish/dist/css/megafish"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.all"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.dragopen"
@import "app/libs/toggle-mnu/toggle-mnu.sass"

// fontello fonts-icons
@import "app/libs/fontello/css/animation"
@import "app/libs/fontello/css/fontello"
@import "app/libs/fontello/css/fontello-codes"
@import "app/libs/fontello/css/fontello-embedded"
@import "app/libs/fontello/css/fontello-ie7"
@import "app/libs/fontello/css/fontello-ie7-codes"


// *::-webkit-input-placeholder
//  color: $da
//  opacity: 1

// *:-moz-placeholder
//  color: $da
//  opacity: 1

// *::-moz-placeholder
//  color: $da
//  opacity: 1

// *:-ms-input-placeholder
//  color: $da
//  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $ba
body input:required:valid,
body textarea:required:valid
	color: $ba

//Custom Styles Here
.results
	background: $ff
	color: $ca

.result, .guarantee
	.img_wrap
		float: left
		width: 50px
		margin-right: 15px
		img
			width: 50px
			height: 50px
	.td
		height: 85px
	.header
		font-size: em(24)
		line-height: em(18)
	.desc
		margin-top: 4px
		color: $da
		a
			color: $da
	.percent
		font-size: em(30)
		// line-height: em(20)
	.h_posit
		margin-top: 50px
		text-align: center
	.total
		margin-top: 50px

// guarantees
.guarantees
	background: #f5f5f5
	// background: $ee
	// text-shadow: 0 1px 0 $fa

.guarantee

a.search_result
	margin-top: 12px
	display: inline-block
	text-decoration: underline


.services
	background: $ff

.service
	margin-bottom: 40px


.contacts
	background: $bb
	img
		border-radius: 50%
		width: 200px
		height: 200px
		border: solid 3px $ff
		float: left

//ALWAYS END
@import "media"