@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/font-awesome/css/font-awesome.min"
@import "app/libs/hover/hover"
@import "app/libs/superfish/dist/css/superfish"
@import "app/libs/superfish/dist/css/megafish"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.all"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.dragopen"
@import "app/libs/toggle-mnu/toggle-mnu.sass"

// *::-webkit-input-placeholder
// 	color: #777
// 	opacity: 1

// *:-moz-placeholder
// 	color: #777
// 	opacity: 1

// *::-moz-placeholder
// 	color: #777
// 	opacity: 1

// *:-ms-input-placeholder
// 	color: #777
// 	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $dc
body input:required:valid,
body textarea:required:valid
	color: $dc

//Custom Styles Here
.results
	background: #fff

.result_seo
	text-align: center
	margin-bottom: 80px
	>span
		h3
			display: inline
			font-size: em(20)
	.total
		margin-bottom: 10px
	p
		font-size: em(14)
		line-height: em(21)
		margin-bottom: 20px
		text-align: justify
		.percent
			display: block
			text-align: center
			font-size: em(34)
			margin-top: 20px

	a
		display: block

	a, .total
		padding: 10px
		color: #777
		background: #eee
		font-size: em(18)
		text-shadow: 0 1px 0 #fff
		margin-top: 20px
		margin-bottom: 20px

div[id^="chart_div"]
	margin-bottom: 20px

.guarantees
	background: #eee
	color: #777
	text-shadow: 0 1px 0 #fff

.guarantee
	text-align: center
	>span
		h3
			display: inline
			font-size: em(20)
	a
		display: block
		color: #777
		margin-top: 10px
		margin-bottom: 60px


.services
	background: #fff
	

//ALWAYS END
@import "media"