@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/hover/hover"
// @import "app/libs/superfish/dist/css/superfish"
// @import "app/libs/superfish/dist/css/megafish"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.all"
@import "app/libs/jQuery.mmenu/dist/css/jquery.mmenu.dragopen"
@import "app/libs/toggle-mnu/toggle-mnu.sass"
@import "app/libs/CreativeLinkEffects/css/component"
// @import "app/libs/textillate/assets/animate"

// fontello fonts-icons
@import "app/libs/fontello/css/animation"
@import "app/libs/fontello/css/fontello"
@import "app/libs/fontello/css/fontello-codes"
@import "app/libs/fontello/css/fontello-embedded"
@import "app/libs/fontello/css/fontello-ie7"
@import "app/libs/fontello/css/fontello-ie7-codes"


// *::-webkit-input-placeholder
//  color: $da
//  opacity: 1

// *:-moz-placeholder
//  color: $da
//  opacity: 1

// *::-moz-placeholder
//  color: $da
//  opacity: 1

// *:-ms-input-placeholder
//  color: $da
//  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $ba
body input:required:valid,
body textarea:required:valid
	color: $ba

//Custom Styles Here

// seo_vs_ad
.seo_vs_ad
	background: #f5f5f5
	// color: $ba
	border-bottom: dashed 2px $ba
	.mu_container
		max-width: 800px
		margin-left: auto
		margin-right: auto
	h2
		font-size: em(26)
		margin-bottom: em(10)
		line-height: em(20)
	p
		font-size: em(17)
		line-height: em(28)
		margin-bottom: em(30)
	h3
		font-size: em(22)
		margin-bottom: em(10)
	ol
		list-style: decimal
		margin-bottom: em(20)
		margin-left: em(20)
		
.center
	text-align: center
		
.toggle_hidden_strategy
	display: inline-block
	cursor: pointer
	text-align: center
	+mt(.15s)
	font-family: "RobotoBold", sanserif
	font-weight: normal
	padding: 0 35px 0 5px
	&:after, &:before
		content: '\e813'
		font-family: fontello
		padding-right: 0
		+mt(.3s)
	&.on
		&:after, &:before
			// content: '\e814'
			transform: rotateX(180deg)
	&:hover
		color: $ba
		background: $ac
	
.hidden_strategy
	display: none
	margin-top: 20px
		


// results
.results
	background: $ff
	color: $ca

.result, .guarantee
	margin-bottom: 60px
	.img_wrap
		float: left
		width: 50px
		margin-right: 15px
		img
			width: 50px
			height: 50px
	.td
		height: 85px
	.header
		font-size: em(24)
		line-height: em(18)
	.desc
		margin-top: 4px
		color: $da
		a
			color: $da
	.p_accent
		margin-top: 10px
		// background: $ac
		// padding: 10px
		// color: $ba
	.percent
		font-size: em(30)
		// line-height: em(20)
	.h_posit
		margin-top: 50px
		text-align: center
	.total
		margin-top: 50px


// guarantees
.guarantees
	background: #f5f5f5
	// background: $ee
	// text-shadow: 0 1px 0 $fa

.guarantee

.h_search
	margin-top: 12px
	font-size: em(18)

a.search_result
	display: inline-block
	text-decoration: underline


// contacts
.contacts
	background: url(/img/contacts_bg.jpg) center $ba
	background-size: cover
	ul
		text-align: center
	li
		margin: 10px 0 10px 0
	a
		color: $ff
		display: inline-block
		padding: 0 em(5) 0 em(5)
		+mt(.15s)
		&:active,
		&:focus,
		&:hover
			color: $ba
			background: $ac
			text-decoration: none

//ALWAYS END
@import "media"